<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.crm.mapper.BadTableMapper" >
  <resultMap id="BaseResultMap" type="cn.wolfcode.crm.domain.BadTable" >
    <id column="id" property="id" />
    <result column="badPath" property="badPath" />
    <result column="badDegree" property="badDegree" />
    <result column="badMoney" property="badMoney" />
    <!-- 事故明细: -->
    <association property="accidentItemId" column="accidentitem_id" javaType="cn.wolfcode.crm.domain.AccidentItem"
                 select="cn.wolfcode.crm.mapper.AccidentItemMapper.selectByPrimaryKey"/>
  </resultMap>

  <!-- 查一条数据: -->
  <resultMap id="BaseResultMapLinge" type="cn.wolfcode.crm.domain.BadTable" >
    <id column="id" property="id" />
    <result column="badPath" property="badPath" />
    <result column="badDegree" property="badDegree" />
    <result column="badMoney" property="badMoney" />
    <!-- 事故明细: -->
    <association property="accidentItemId.id" column="accidentitem_id" javaType="cn.wolfcode.crm.domain.AccidentItem"
                 select="cn.wolfcode.crm.mapper.AccidentItemMapper.selectByPrimaryKey"/>
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from `badtable`
    where accidentitem_id = #{id}
  </delete>
  <!-- 添加: -->
  <insert id="insert" parameterType="cn.wolfcode.crm.domain.BadTable" useGeneratedKeys="true" keyProperty="id" >
    insert into `badtable` (badPath, badDegree, badMoney, accidentitem_id)
    values (#{badPath}, #{badDegree}, #{badMoney}, #{accidentItemId.id})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.wolfcode.crm.domain.BadTable" >
    update `badtable`
    set badPath = #{badPath},
      badDegree = #{badDegree},
      badMoney = #{badMoney},
      accidentitem_id = #{accidentItemId.id}
    where id = #{id}
  </update>

  <select id="selectByPrimaryKey" resultMap="BaseResultMapLinge" >
    select id, badPath, badDegree, badMoney, accidentitem_id
    from `badtable`
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, badPath, badDegree, badMoney, accidentitem_id
    from `badtable`
  </select>


  <!-- 共同的sql: -->
  <sql id="baseSql">
    <where>
      <if test="policySn != null and policySn != ''">
        and acc.policySn = #{policySn}
      </if>
      <if test="employeeName != null and employeeName != ''">
        and e.username = #{employeeName}
      </if>
    </where>
  </sql>

  <!-- 总数据 -->
  <select id="queryCount" resultType="java.lang.Integer">
    select count(*)
    FROM badtable bad join accidentitem item on bad.accidentitem_id=item.id
    left JOIN employee e on item.employee_id=e.id
    LEFT JOIN accident acc on item.accident_id=acc.id
    <include refid="baseSql"/>
</select>

  <!-- 总数据 -->
  <select id="queryList" resultMap="BaseResultMap">
    select bad.id, bad.badPath, bad.badDegree, bad.badMoney, bad.accidentitem_id
    FROM badtable bad join accidentitem item on bad.accidentitem_id=item.id
    left JOIN employee e on item.employee_id=e.id
    LEFT JOIN accident acc on item.accident_id=acc.id
    <include refid="baseSql"/>
    limit #{beginIndex},#{rows};
  </select>
  <!-- 根据事故明细id查询赔偿单: -->
  <select id="getBadListById" resultType="cn.wolfcode.crm.domain.BadTable">
    SELECT badPath,badDegree,badMoney
    FROM badTable where accidentitem_id=#{id}
  </select>
</mapper>