<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.crm.mapper.PermissionMapper">
    <resultMap id="BaseResultMap" type="cn.wolfcode.crm.domain.Permission">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="resource" property="resource"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from `permission`
    where id = #{id}
  </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    insert into `permission` (name, resource)
    values (#{name}, #{resource})
  </insert>
    <update id="updateByPrimaryKey" parameterType="cn.wolfcode.crm.domain.Permission">
    update `permission`
    set name = #{name},
      resource = #{resource}
    where id = #{id}
  </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select id, name, resource
    from `permission`
    where id = #{id}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, name, resource
    from `permission`
  </select>

    <!-- 根据角色id查询权限: -->
    <select id="getPermissionByRoleId" resultType="cn.wolfcode.crm.domain.Permission">
    select p.id, p.name,p.resource from permission p join role_permission rp on p.id=rp.permission_id
    where rp.role_id = #{roleId}
  </select>

    <!-- 查询所有的权限表达式 -->
    <select id="selectExpression" resultType="java.lang.String">
    select resource
    from `permission`
  </select>

    <!-- 根据员工id查询权限: -->
    <select id="selectByEmployeeId" resultType="java.lang.String">
      select p.resource
from permission p join role_permission rp on p.id=rp.permission_id
JOIN employee_role er ON rp.role_id = er.role_id
where er.employee_id = #{id}
    </select>

    <!--根据员工的id查询对应的权限集合-->
    <select id="selectPermissionByEmpId" resultType="java.lang.String">
        SELECT p.resource
        FROM employee_role er LEFT JOIN role_permission rm ON er.role_id=rm.role_id LEFT JOIN permission p
        ON rm.permission_id=p.id WHERE er.employee_id=#{id}
    </select>

    <!-- 高级查询 -->
    <select id="queryForCount" resultType="java.lang.Integer">
        SELECT count(*)
        from `permission`
    </select>

    <select id="queryForList" resultType="cn.wolfcode.crm.domain.Permission">
        select id, name, resource
        from `permission`
        limit #{beginIndex},#{rows}
    </select>
</mapper>
